@import "tailwindcss";

@theme {
    --color-background: #09090b;
    --color-surface: #18181b;
    --color-border: #27272a;

    --color-primary: #10b981;
    --color-primary-light: #34d399;
    --color-primary-dark: #059669;

    --color-text-main: #f4f4f5;
    --color-text-muted: #a1a1aa;

    --font-sans: Inter, pk-inter, system-ui, sans-serif;
}

@layer base {
    body {
        @apply bg-background text-text-main font-sans antialiased;
    }
}